:root {
  --color-background: #f5f5f7;
  --color-text: #1d1d1f;
  --color-border: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #f5f5f7;
    --color-text: #1d1d1f;
    --color-border: rgba(255, 255, 255, 0.1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button,
[role="button"],
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.47059;
  letter-spacing: -0.022em;
}
