@import 'tailwindcss';
@import './fonts.css';

@theme {
  /* Standard System Colors */
  --color-primary: #006937;
  --color-secondary: #d1021b;
  --color-tertiary: #e7cd9b;

  /* Typography */
  --font-sans: 'NyDisplay', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-black: 'NyDisplayBlack';
  --font-ch: 'fzDaHei';
}

@import './base.css';

.debug{
  border: 2px dashed pink;
}
