@import 'tailwindcss';

@theme {
  /* Standard System Colors */
  --color-primary: #006937;
  --color-secondary: #d1021b;
  --color-tertiary: #e7cd9b;

  /* Typography */
  --font-sans:
    'SF Pro Display', 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}

@import './base.css';

.debug{
  border: 2px dashed pink;
}
